<div class="flex flex-col h-full w-full pt-2 px-3">
    <% if (typeof error !== 'undefined') { %>
        <div class="bg-red-500 p-5 w-full">
            <%= error %>
        </div>
    <% } else {%>
    <div class="flex flex-col">
        <div class="form-group">
            <p>Title: </p>
            <h2><%= note.title %></h2>
        </div>
        <div class="form-group">
            <p>Date: </p>
            <h2><%= note.date %></h2>
        </div>
        <div class="form-group">
            <p>Note: </p>
            <p><%= note.text %></p>
        </div>
    </div>
    <% } %>
</div>