<!DOCTYPE html>
<html lang="en">
    <head> <%- include("../headers.ejs") %> </head>
    
    <body>
        <main class="h-screen w-screen">
            <%- include(fileName) %>
        </main>
    </body>
</html>